<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.colin.topoguide.views" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" >
        <activity android:name=".Main" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TabDepart" />
        <activity android:name=".DownloadActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/view_download_title"/>
        <activity android:name=".Tabs" />
        <activity android:name=".TabInfos" />
        <activity android:name=".TabItineraire" />
        <activity android:name=".ImageFullScreenActivity" />
        
    </application>

</manifest>